.text-center{
    text-align:center;
}
.mx-auto{
    margin: auto;
}
.m-w-30{
    max-width: 20vw;
}
.flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.row{
    margin:20px;
}
.row input{
    margin:2px;
    padding:10px;
    border:2px solid black;
    border-radius:10px;
}